{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% if product %}
    <h4>Редактировать товар</h4>
    {% else %}
    <h4>Добавить новый товар</h4>
    {% endif %}
    <p>Заполните форму для добавления или редактирования товара</p>

    <div class="input-group mb-3">
        <form class="horizontal" method="post" enctype="multipart/form-data">

            <div class="card-header">


                {% csrf_token %}
                {{ form.as_p }}


            </div>
            <button type="submit" class="btn btn-primary">
                {% if product %}

                Сохранить

                {% else %}

                Добавить

                {% endif %}



            </button>



        </form>
    </div>
</div>


{% endblock %}